<div class = index-main>
 <div class = main-theme>
  <div class = target-theme>リスト</div>
  <%= link_to 'ログアウト',destroy_user_session_path ,data: { turbo_method: :delete }, class: "logout" %> 
 </div >
  <%= link_to '＋新しく追加',new_target_path ,class:"new-list" %>
  <ul class = sub-list>
 <% @target.each do |target| %>
      <li class='list'>
        <%= link_to target.goal,target_stories_path(@target)  %>
          <% end %>
      </li>
  </ul>
</div>