    <%# <%= render 'shared/error_messages', model: f.object %>
<div class="contents row">
  <div class="container">
    <h3>タイトル</h3>
    <%= form_with model: @target, data: { turbo: false }, local: true do |form| %>
      <%= form.text_field :goal, placeholder: "text", rows: "10" %>
      <%= form.submit "作成" %>
    <% end %>
  </div>
</div>
