<div class="contents row">
  <div class="container">
    <h3>タイトル</h3>
    <%# <%= form_with(model: [@target, @story], local: true) do |form| %>
      <%# <%= form.text_field :title, placeholder: "text", rows: "10" %>
      <%# <%= form.submit "作成" %>
    <%# <% end %> 
  </div>
</div>
