<header class="header">
<h1 class="ikusei-title">育成リスト</h1>
</header>
<div class="player-list">
  <% @players.each do |player| %>
 <div class="player_post" >
      <p><%= player.name %></p>
    </div>
  <% end %>
  <%= link_to("/players/new ")do %>
    <%= image_tag 'arrow_top.png' , class: "purchase-btn-icon" %>
  <% end %>
</div>
