.player-list{
  margin-left: 20%;

}
.player_post{
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 30px;
}
.ikusei-title{
 text-align: center;
 margin: 20px;
 font-size: 40px;
}
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
body,
html {
  height: 100%;
  background-color: #f5f5f3;
}
.player-touroku{
  height: 100%;
}
.player-nyuuryoku{
  height:100%;
  margin: auto;
  margin-top: 10%;
  display: flex;
 justify-content: center;
 align-items: center;
}

form input{
  height:60px;
  font-size: 35px;
display: block;
}
input[type="submit" i] {
margin-left: 28%;
margin-top: 10%;
height: 40%;
}